<section class="collection section" id="our-collection">
  <div class="container">
    <h2 class="section-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ./img/item-1-desktop1440.png    1x,
              ./img/item-1-desktop1440@2x.png 2x
            " />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/item-1-desktop1280.png    1x,
              ./img/item-1-desktop1280@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/item-1-tablet.png    1x,
              ./img/item-1-tablet@2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/item-1-mobile.png    1x,
              ./img/item-1-mobile@2x.png 2x
            " />
          <img
            src="./img/item-1-desktop1440.png"
            alt="A black, long-sleeved blouse with voluminous puff sleeves and a round neckline, featuring intricate, colorful geometric and floral patterns in blue, red, orange, and white embroidered down the chest, along the shoulders, and around the cuffs"
            width="400"
            height="430"
        /></picture>
        <p class="item-name">August Poltava women's blousering</p>
        <p class="item-price">3300 UAH</p>
      </li>
      <li class="collection-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ./img/item-2-desktop1440.png    1x,
              ./img/item-2-desktop1440@2x.png 2x
            " />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/item-2-desktop1280.png    1x,
              ./img/item-2-desktop1280@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/item-2-tablet.png    1x,
              ./img/item-2-tablet@2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/item-2-mobile.png    1x,
              ./img/item-2-mobile@2x.png 2x
            " />
          <img
            src="./img/item-2-desktop1440.png"
            alt="A cream-colored, long-sleeved button-down linen shirt with a pointed collar featuring a scattered rustic embroidery of stylized birds, horses, and botanical motifs in terracotta and black"
            width="400"
            height="430"
        /></picture>
        <p class="item-name">Women's blouse Gorgany</p>
        <p class="item-price">3350 UAH</p>
      </li>
      <li class="collection-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ./img/item-3-desktop1440.png    1x,
              ./img/item-3-desktop1440@2x.png 2x
            " />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/item-3-desktop1280.png    1x,
              ./img/item-3-desktop1280@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/item-3-tablet.png    1x,
              ./img/item-3-tablet@2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/item-3-mobile.png    1x,
              ./img/item-3-mobile@2x.png 2x
            " />
          <img
            src="./img/item-3-desktop1440.png"
            alt="A white linen blouse featuring a large pointed collar, voluminous puff sleeves, and vibrant multi-colored floral and geometric embroidery accented by colorful buttons"
            width="400"
            height="430"
        /></picture>
        <p class="item-name">Women's blouse Crimea</p>
        <p class="item-price">4000 UAH</p>
      </li>
      <li class="collection-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ./img/item-4-desktop1440.png    1x,
              ./img/item-4-desktop1440@2x.png 2x
            " />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/item-4-desktop1280.png    1x,
              ./img/item-4-desktop1280@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/item-4-tablet.png    1x,
              ./img/item-4-tablet@2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/item-4-mobile.png    1x,
              ./img/item-4-mobile@2x.png 2x
            " />
          <img
            src="./img/item-4-desktop1440.png"
            alt="A light beige, long-sleeved linen shirt with a pointed collar, featuring a dense panel of brown geometric embroidery down the chest and matching embroidered patterns on the cuffs"
            width="400"
            height="430"
        /></picture>
        <p class="item-name">Men's shirt Verkhovina</p>
        <p class="item-price">3100 UAH</p>
      </li>
      <li class="collection-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ./img/item-5-desktop1440.png    1x,
              ./img/item-5-desktop1440@2x.png 2x
            " />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/item-5-desktop1280.png    1x,
              ./img/item-5-desktop1280@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/item-5-tablet.png    1x,
              ./img/item-5-tablet@2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/item-5-mobile.png    1x,
              ./img/item-5-mobile@2x.png 2x
            " />
          <img
            src="./img/item-5-desktop1440.png"
            alt="A black long-sleeved shirt with a mandarin collar, featuring intricate neon-green embroidery of trident symbols and crossed swords in a vertical panel down the chest and along the cuffs"
            width="400"
            height="430"
        /></picture>
        <p class="item-name">Mountain men's shirt</p>
        <p class="item-price">3300 UAH</p>
      </li>
      <li class="collection-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ./img/item-6-desktop1440.png    1x,
              ./img/item-6-desktop1440@2x.png 2x
            " />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/item-6-desktop1280.png    1x,
              ./img/item-6-desktop1280@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/item-6-tablet.png    1x,
              ./img/item-6-tablet@2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/item-6-mobile.png    1x,
              ./img/item-6-mobile@2x.png 2x
            " />
          <img
            src="./img/item-6-desktop1440.png"
            alt="A white linen shirt with a mandarin collar and orange tassels, featuring a bold panel of orange diamond-patterned embroidery down the chest and matching designs on the cuffs"
            width="400"
            height="430"
        /></picture>
        <p class="item-name">Men's shirt Yasen</p>
        <p class="item-price">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
