<section class="collection section" id="our-collection">
  <div class="container">
    <h2 class="section-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ./img/item-1-desktop1440.png    1x,
              ./img/item-1-desktop1440@2x.png 2x
            " />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/item-1-desktop1280.png    1x,
              ./img/item-1-desktop1280@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/item-1-tablet.png    1x,
              ./img/item-1-tablet@2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/item-1-mobile.png    1x,
              ./img/item-1-mobile@2x.png 2x
            " />
          <img
            src="./img/item-1-desktop1440.png"
            alt=""
            width="400"
            height="430"
        /></picture>
        <p class="item-name">August Poltava women's blousering</p>
        <p class="item-price">3300 UAH</p>
      </li>
      <li class="collection-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ./img/item-2-desktop1440.png    1x,
              ./img/item-2-desktop1440@2x.png 2x
            " />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/item-2-desktop1280.png    1x,
              ./img/item-2-desktop1280@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/item-2-tablet.png    1x,
              ./img/item-2-tablet@2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/item-2-mobile.png    1x,
              ./img/item-2-mobile@2x.png 2x
            " />
          <img
            src="./img/item-2-desktop1440.png"
            alt=""
            width="400"
            height="430"
        /></picture>
        <p class="item-name">Women's blouse Gorgany</p>
        <p class="item-price">3350 UAH</p>
      </li>
      <li class="collection-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ./img/item-3-desktop1440.png    1x,
              ./img/item-3-desktop1440@2x.png 2x
            " />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/item-3-desktop1280.png    1x,
              ./img/item-3-desktop1280@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/item-3-tablet.png    1x,
              ./img/item-3-tablet@2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/item-3-mobile.png    1x,
              ./img/item-3-mobile@2x.png 2x
            " />
          <img
            src="./img/item-3-desktop1440.png"
            alt=""
            width="400"
            height="430"
        /></picture>
        <p class="item-name">Women's blouse Crimea</p>
        <p class="item-price">4000 UAH</p>
      </li>
      <li class="collection-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ./img/item-4-desktop1440.png    1x,
              ./img/item-4-desktop1440@2x.png 2x
            " />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/item-4-desktop1280.png    1x,
              ./img/item-4-desktop1280@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/item-4-tablet.png    1x,
              ./img/item-4-tablet@2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/item-4-mobile.png    1x,
              ./img/item-4-mobile@2x.png 2x
            " />
          <img
            src="./img/item-4-desktop1440.png"
            alt=""
            width="400"
            height="430"
        /></picture>
        <p class="item-name">Men's shirt Verkhovina</p>
        <p class="item-price">3100 UAH</p>
      </li>
      <li class="collection-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ./img/item-5-desktop1440.png    1x,
              ./img/item-5-desktop1440@2x.png 2x
            " />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/item-5-desktop1280.png    1x,
              ./img/item-5-desktop1280@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/item-5-tablet.png    1x,
              ./img/item-5-tablet@2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/item-5-mobile.png    1x,
              ./img/item-5-mobile@2x.png 2x
            " />
          <img
            src="./img/item-5-desktop1440.png"
            alt=""
            width="400"
            height="430"
        /></picture>
        <p class="item-name">Mountain men's shirt</p>
        <p class="item-price">3300 UAH</p>
      </li>
      <li class="collection-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ./img/item-6-desktop1440.png    1x,
              ./img/item-6-desktop1440@2x.png 2x
            " />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/item-6-desktop1280.png    1x,
              ./img/item-6-desktop1280@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/item-6-tablet.png    1x,
              ./img/item-6-tablet@2x.png 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/item-6-mobile.png    1x,
              ./img/item-6-mobile@2x.png 2x
            " />
          <img
            src="./img/item-6-desktop1440.png"
            alt=""
            width="400"
            height="430"
        /></picture>
        <p class="item-name">Men's shirt Yasen</p>
        <p class="item-price">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
