<footer class="footer">
  <div class="container">
    <ul class="navigation-menu">
      <li class="navigation-item">
        <a href="./index.html#about-us" class="navigation-link">About us</a>
      </li>
      <li class="navigation-item">
        <a href="./index.html#our-collection" class="navigation-link"
          >Our collection
        </a>
      </li>
      <li class="navigation-item">
        <a href="./index.html#customer-order" class="navigation-link"
          >Customer order</a
        >
      </li>
      <li class="navigation-item">
        <a href="./index.html#testimonials" class="navigation-link"
          >Testimonials</a
        >
      </li>
    </ul>
    <p class="footer-text">
      A touch of <span class="yellow">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
