<section class="hero section">
  <div class="container">
    <div class="title-wrapper">
      <h1 class="hero-title">
        Reviving the traditional
        <span class="yellow">Ukrainian</span> artistry in every stitch.
      </h1>
      <div class="brand">
        <svg class="brand-image" width="49" height="49">
          <use href="./img/star.svg"></use>
        </svg>
        <p class="brand-text">all embroidery is made by hand</p>
      </div>
      <a class="order-link" href="./index.html#customer-order"
        >Order
        <svg class="arrow-icon" width="24" height="16">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="image-wrapper">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./img/hero-desktop.png 1x, ./img/hero-desktop@2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/hero-tablet.png 1x, ./img/hero-tablet@2x.png 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="./img/hero-mobile.png 1x, ./img/hero-mobile@2x.png 2x"
        />
        <img
          src="./img/hero-desktop.png"
          alt="A woman with wavy brown hair wearing a grey button-down shirt featuring intricate, folk-style embroidery in gold, orange, and blue"
          width="413"
          height="575"
        />
      </picture>
    </div>
  </div>
</section>
