.about {
  background-image: url(../img/background-grey.png);
  background-repeat: no-repeat;
  background-position: right -210px bottom 15px;
  background-size: 459px 408px;
}
.about .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about .section-title {
  text-transform: capitalize;
}
.about-text {
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
}
.about-text:last-child {
  margin-bottom: 0;
}

@media (min-resolution: 192dpi) {
  .about {
    background-image: url(../img/background-grey@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .about {
    background-position: right -175px bottom 50px;
    background-size: 545px 484px;
  }
  .about .container {
    gap: 40px;
  }
  .about-text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .about {
    background-position: right -150px bottom 70px;
  }
  .about .container {
    flex-direction: row;
    gap: 50px;
  }
  .about-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 536px;
  }
  .about-text {
    max-width: 508px;
  }
  .about-text:last-child {
    max-width: 536px;
  }
  .about-image-wrapper {
    width: 594px;
  }
}

@media only screen and (min-width: 1440px) {
  .about {
    background-position: right bottom 70px;
  }
  .about-text-wrapper {
    width: 481px;
  }
  .about-image-wrapper {
    width: 709px;
  }
}
