.footer {
  background-image: url(../img/background-yellow.png);
  background-repeat: no-repeat;
  background-position: bottom -201px center;
  background-size: 452px 401px;
  border-top: 1px solid rgba(199, 75, 75, 0.1);
}
.footer .navigation-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  height: 65px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer .navigation-item {
  width: 124px;
}
.footer .navigation-link {
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}
.footer-text {
  padding-bottom: 280px;
  font-size: 44px;
  line-height: 1.23;
  letter-spacing: -0.03em;
}

@media (min-resolution: 192dpi) {
  .footer {
    background-image: url(../img/background-yellow@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    background-position: top -14px right -250px;
  }
  .footer .navigation-menu {
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    margin-bottom: 80px;
  }
  .footer .navigation-item {
    width: auto;
  }
  .footer-text {
    width: 521px;
    padding-bottom: 40px;
    font-size: 54px;
    line-height: 1.19;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    background-position: top -61px right -258px;
    background-size: 595px 528px;
  }
  .footer .navigation-menu {
    margin-bottom: 117px;
  }
  .footer-text {
    width: 754px;
    font-size: 64px;
    line-height: 1.16;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    background-position: top -61px right -100px;
  }
}
