.order {
  padding-top: 580px;
  background-image: url(../img/order-1-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}
.order .section-title {
  display: none;
}
.subscription-text {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: -0.03em;
}
.subscription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
.form-input {
  width: 100%;
  height: 47px;
  padding: 14px 16px;
  color: var(--snow);
  background-color: transparent;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  outline: none;
}
.form-label:nth-child(3) {
  display: none;
}
.send-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 49px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 14px 36px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}
.order-picture {
  display: none;
}

@media (min-resolution: 192dpi) {
  .order {
    background-image: url(../img/order-1-mobile@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .order {
    padding-top: 876px;
    background-image:
      url(../img/order-1-tablet.jpg), url(../img/background-grey.png);
    background-repeat: no-repeat;
    background-position:
      top center,
      left -220px bottom 100px;
    background-size: 768px, 545px;
  }
  .order .section-title {
    display: block;
    text-align: left;
  }
  .subscription-text {
    display: none;
  }
  .form-input {
    width: 508px;
  }
  .form-label:nth-child(3) {
    display: block;
  }
  .form-comment {
    width: 508px;
    height: 196px;
    padding: 14px 16px;
    color: var(--snow);
    background-color: transparent;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 8px;
    outline: none;
    resize: none;
  }
  .send-btn {
    width: 168px;
    height: 50px;
    margin-right: 0;
    margin-left: 0;
    padding: 14px 39px;
    font-size: 16px;
  }
  .order-picture {
    display: block;
    margin-top: 100px;
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .order {
    background-image:
      url(../img/order-1-tablet@2x.jpg), url(../img/background-grey@2x.png);
  }
}

@media only screen and (min-width: 1280px) {
  .order {
    padding-top: 926px;
    background-image:
      url(../img/order-1-desktop1280.jpg), url(../img/background-grey.png);
    background-position:
      top center,
      left -255px bottom 165px;
    background-size: 1280px, 545px;
  }
  .order-wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
  }
  .text-wrapper {
    width: 542px;
  }
  .section-title {
    line-height: 1.32;
  }
  .order-picture {
    width: 588px;
    margin: 0;
  }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .order {
    background-image:
      url(../img/order-1-desktop1280@2x.jpg), url(../img/background-grey@2x.png);
  }
}

@media only screen and (min-width: 1440px) {
  .order {
    background-image:
      url(../img/order-1-desktop1440.jpg), url(../img/background-grey.png);
    background-position:
      top center,
      left -220px bottom 150px;
    background-size: 1440px, 545px;
  }
  .text-wrapper {
    width: 666px;
  }
  .order-picture {
    width: 524px;
  }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .order {
    background-image:
      url(../img/order-1-desktop1440@2x.jpg), url(../img/background-grey@2x.png);
  }
}
