/* BASE */
@import url("./variables.css");
@import url("./reset.css");
@import url("./common.css");

/* LAYOUT */
@import url("./container.css");

/* COMPONENTS */
@import url("./header.css");
@import url("./hero.css");
@import url("./about.css");
@import url("./collection.css");
@import url("./order.css");
@import url("./testimonials.css");
@import url("./footer.css");

/* OVERLAYS */
@import url("./mobile-menu.css");

/* UTILS / EFFECTS */
@import url("./animations.css");
