.testimonials .section-title {
  margin-bottom: 64px;
  text-align: left;
}
.testimonials-list {
  display: flex;
  gap: 32px;
}
.testimonials-item {
  position: relative;
  width: 100%;
  min-height: 243px;
  padding: 54px 22px 18px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 4px;
  box-shadow: 0 2px 32px 4px rgba(18, 20, 23, 0.02);
}
.testimonials-item:nth-child(n + 2) {
  display: none;
}
.testimonials-photo {
  position: absolute;
  top: -24px;
  left: calc(50% - 32px);
}
.testimonials-user {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
.testimonials-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
  text-align: center;
  color: rgba(252, 249, 249, 0.4);
}

@media only screen and (min-width: 768px) {
  .testimonials-item {
    width: calc((100% - 1 * 32px) / 2);
    min-height: 286px;
    padding: 54px 18px 18px;
  }
  .testimonials-item:nth-child(2) {
    display: block;
  }
  .testimonials-text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .testimonials-list {
    gap: 26px;
  }
  .testimonials-item {
    width: calc((100% - 2 * 26px) / 3);
  }
  .testimonials-item:nth-child(3) {
    display: block;
  }
}

@media only screen and (min-width: 1440px) {
  .testimonials-item {
    min-height: 264px;
  }
}
